* {
    margin: 0;
    padding: 0;
}

.app {
    scroll-behavior: smooth;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*align-content: center;*/
    align-items: center;
    background-color: #000000;
}

.logo {
    width: 100px;
    height: auto;
    background-color: #ffffff;
    padding: 2px 15px;
    border-radius: 10px;
}

.nav-bar {
    margin: 10px 0;
    padding: 10px 0;
}

.menu {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: solid 1px #ffffff;
}

.menu-item {
    list-style-type: none;
    margin: 0 10px;
    
}
.menu-item-link {
    color:#ffffff;
    text-decoration: none;
}
